* {
  font-family: Bariol !important;
  font-weight: normal;
  color: whitesmoke !important;
}
body {
  background-color: #0B0B0B;
}
section {
  border: 1 solid white;
}
header > section {
  text-align: center;
  padding: 50px;
  height: 150px;
}
section.greeting img {
  max-width: 120px !important;
  max-height: 120px !important;
  border-radius: 30px;
  border: 1px solid #979797;
}
