@font-face {
  font-family: Bariol-Thin;
  src: url(/build/Bariol_Thin.otf) format('opentype');
}
@font-face {
  font-family: Bariol-Light;
  src: url(/build/Bariol_Light.otf) format('opentype');
}
* {
  font-family: Bariol-Thin;
  font-weight: normal;
  color: whitesmoke;
}
body {
  background-color: #0B0B0B;
}
p {
  margin: 0;
}
.row {
  margin: 60px auto !important;
}
.row:first-child {
  margin-top: 0 !important;
}
section.lambda {
  text-align: center;
  padding-top: 50px;
}
section.greeting > section img {
  margin: 20px;
  margin-top: 5px;
  float: left;
  display: block;
  width: 25%;
}
section.greeting > section h1 {
  padding: 20px;
  font-family: Bariol-Thin;
  font-weight: bold;
  color: whitesmoke;
  margin: 22px;
  font-size: 3em;
  line-height: 1.2;
}
section.intro p {
  font-family: Bariol-Light;
  font-size: 50px;
  color: #D8D8D8;
  line-height: 55px;
  letter-spacing: 1px;
}
section.intro p s {
  color: #5D5B5B;
}
section.experience {
  width: 100%;
  background: rgba(130, 127, 127, 0.2);
  padding: 30px 20px;
}
section.experience p {
  font-family: Bariol-Thin;
  font-weight: bold;
  font-size: 35px;
  color: #F8F8F8;
  line-height: 40px;
}
section.more p {
  font-family: Bariol-Thin;
  font-weight: bold;
  font-size: 30px;
  color: #FFF7F7;
  line-height: 33px;
}
section.icons p {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}
section.icons i {
  display: block;
  height: 60px;
  float: left;
  margin: 0px 10px;
}
section.icons i.octocat {
  background-image: url(/build/website/images/github.png);
  width: 60px;
  margin: 0px 20px;
}
section.icons i.angellist {
  background-image: url(/build/website/images/angellist.png);
  width: 36px;
  margin: 0px 20px;
}
section.icons i.at {
  background-image: url(/build/website/images/email.png);
  width: 79px;
}
section.icons i.tumblr {
  background-image: url(/build/website/images/tumblr.png);
  width: 79px;
}
section.icons i.vimeo {
  background-image: url(/build/website/images/vimeo.png);
  width: 79px;
}
