<header class="row">
  <section class="large-12">LAMBDA</section>
</header>

<section class="greeting row">
  <section class="large-12">
    <img class="large-3 large-offset-2 left"></img>
    <h1 class="large-5 left">Hi, <br>meet Leandro</h1>
  </section>
</section>

<section class="intro row">
  <section class="large-12">
    <p>
      <b>Leandro Ostera</b> is an argentinian engineer* currently <s>living in Dublin</s> looking to travel for work, to widen his culture, to advance his final frontier.
    </p>
  </section>
</section>

<section class="experience row">
  <section class="large-12">
    <p>He had the privilege of working for Inc. 1500 agile consultancy company Clevertech, being part of a Startup Chile company, and starting and curating a JavaScript meetup in his hometown.</p>
  </section>
</section>

<section class="more row">
  <section class="large-12">
    <p>Leandro loves Marvel, the UNIX philosophy, and late  night javascripting – he's a nice guy.
    </p>
    <p>Find him on:</p>
  </section>
</section>

<section class="icons row">
  <section class="large-12">
    <i class="octocat"></i>
    <i class="vimeo"></i>
    <i class="at"></i>
    <i class="tumblr"></i>
    <i class="angellist"></i>
  </section>
</section>