<section class="lambda row">
  <section class="large-12">
    <img src="/build/website/images/lambda.png" alt="">
  </section>
</section>

<section class="greeting row">
  <section class="large-6 large-offset-3">
    <img></img>
    <h1>Hi, <br>meet Leandro</h1>
  </section>
</section>

<section class="intro row">
  <section class="large-10 large-offset-1">
    <p>
      <b>Leandro Ostera</b> is an argentinian engineer* currently <s>living in Dublin</s> looking to travel for work, to widen his culture, to advance his final frontier.
    </p>
  </section>
</section>

<section class="experience row">
  <section class="large-10 large-offset-1">
    <p>He had the privilege of working for Inc. 1500 agile consultancy company Clevertech, being part of a Startup Chile company, and starting and curating a JavaScript meetup in his hometown.</p>
  </section>
</section>

<section class="more row">
  <section class="large-10 large-offset-1">
    <p>Leandro loves Marvel, the UNIX philosophy, and late night javascripting – he's a nice guy.
    </p>
    <br><br>
    <p>Find him on:</p>
  </section>
</section>

<section class="icons row">
  <section class="large-6 large-offset-3">
    <a href="https://github.com/leostera">
      <i class="octocat"></i>
    </a>
    <a href="https://vimeo.com/leostera">
      <i class="vimeo"></i>
    </a>
    <a href="mailto:me@leostera.com">
      <i class="at"></i>
    </a>
    <a href="http://blog.leostera.com">
      <i class="tumblr"></i>
    </a>
    <a href="https://angel.co/leostera">
      <i class="angellist"></i>
    </a>
  </section>
</section>