<section class="lambda row">
  <section class="large-12">
    <img src="/build/website/images/lambda.png" class="fadeInDown" alt="">
  </section>
</section>

<section class="greeting row">
  <section class="large-6 large-offset-3">
    <img class="fadeInDown late-750" src="/build/website/images/lea.png" ></img>
    <h1 class="fadeInDown late-750" >Hi, <br>meet Leandro</h1>
  </section>
</section>

<section class="intro row">
  <section class="large-10 large-offset-1">
    <p class="fadeIn late-1500">
      <b>Leandro Ostera</b> is an argentinian engineer* currently <s>living in Dublin</s> looking to travel for work, to widen his culture, to advance his final frontier.
    </p>
  </section>
</section>

<section class="experience row fadeIn late-1500">
  <section class="large-10 large-offset-1">
    <p>He had the privilege of working for Inc. 1500 agile consultancy company Clevertech, being part of a Startup Chile company, and starting and curating a JavaScript meetup in his hometown.</p>
  </section>
</section>

<section class="more row">
  <section class="large-10 large-offset-1 fadeIn late-1500">
    <p>Leandro loves Marvel, the UNIX philosophy, and late night javascripting – he's a nice guy.
    </p>
  </section>
</section>

<section class="icons row">
  <section class="large-6 large-offset-3">
    <p class="fadeIn late-1500">Find him on</p>
    <a href="https://github.com/leostera">
      <i class="octocat fadeInUp late-3000"></i>
    </a>
    <a href="https://vimeo.com/leostera">
      <i class="vimeo fadeInUp late-3000"></i>
    </a>
    <a href="mailto:me@leostera.com">
      <i class="at fadeInUp late-3000"></i>
    </a>
    <a href="http://blog.leostera.com">
      <i class="tumblr fadeInUp late-3000"></i>
    </a>
    <a href="https://angel.co/leostera">
      <i class="angellist fadeInUp late-3000"></i>
    </a>
  </section>
</section>

<section class="even-more row">
  <section class="large-10 large-offset-1 fadeIn late-1500">
    <p>* Self-taught multidisciplinary web engineer</p>
  </section>
</section>